.back {
  /* background-color: blueviolet; */
  min-height: 90vh;
  height: 100%;
  margin: 0;
  display: flex;
  z-index: 0;
}

.leftDisplay {
  padding: 1em;
}

.stckRoomDisplay {
  /* background-color: beige; */
  max-height: 80vh;
  margin: 2em;
  padding: 1em;
  overflow: auto;
}

.stockroom-list {
    max-width: 600px;
    text-align: start;
    /* margin-left: 25%; */
}

.userDisplay {
  background-color: rgb(180, 180, 180);
  width: 300px;
  height: 250px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.orgDisplay {
  background-color: rgb(180, 180, 180);
  max-height: 50vh;
  border-radius: 10px;
  overflow: auto;
  margin-top: 1rem;
}

/* .shadow {
  box-shadow: 0px 5px 10px 0px rgb(56, 56, 56);
} */

.outerOrg {
  background-color: transparent;
}

.buttonItem {
  border: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: gray;
  border-radius: 100px;
}
/* .buttonItem span {
    text-align: center;
    position: relative;
    top: 20%;
  } */
.buttonItem button.toggle-btn {
  color: white;
  background-color: transparent;
  width: 100%;
  border-radius: 100px;
  border: none;
}

.buttonItem:hover {
  background-color: rgb(75, 75, 75);
  box-shadow: 0px 5px 7px 0px rgb(119, 119, 119);
  animation: smoothScale 0.15s ease-in forwards;
}

.buttonItem:active {
  background-color: rgb(32, 32, 32);
  box-shadow: inset 0px 5px 7px 0px black;
  animation: smoothShrink 0.13s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.button:hover {
  animation: smoothScale 0.15s ease-in forwards;
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes smoothShrink {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.98);
  }
}

.userDiv {
  display: flex;
  color: rgb(172, 82, 236);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.userDiv p {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 45px;
  text-align: center;
}

.imgDiv {
  width: 75px;
  height: 150px;
}
