.back {
  min-height: 90vh;
  height: 100%;
  margin: 0;
}

.stckRoomDisplay {
  background-color: beige;
  height: 100%;
  margin: 0;
  padding: 2em;
}

.userDisplay {
  width: 300px;
  height: 200px;
  padding: 1rem;
}

.orgDisplay {
  overflow: scroll;
  background-color: coral;
}

.userDiv {
  display: flex;
  color: rgb(72, 213, 237);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.userDiv p {
  color: rgb(72, 213, 237);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  text-align: center;
}

.imgDiv {
  width: 55px;
  height: 150px;
}
